* {
  padding: 0;
  margin: 0;
  color: #ffffff;
}

body {
  background-color: #435234;
}

body > .ember-view {
  display: flex;
  min-height: 93vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* header bar */
div.header-bar {
  display: flex;
  min-height: 7vh;
  max-height: 7vh;
  background-color: #731531;
  margin-bottom: 3vh;
  min-width: 100%;
}

#boxshadow {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.5);
}

#boxshadow::after {
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    left: 0;
    height: 2vh;
    bottom: 0;
}


.header-bar > .logo {
  min-width: 10vw;
}

.header-bar > .navbar {
  min-width: 80vw;
}

.header-bar > .user-section {
  min-width: 10vw;
}

li.header-list-elem {
  display: inline;
  padding-left: 3px;
  padding-right: 7px;
  border: 1px 1px hidden;
}

li:last-child.header-list-elem {
  display: inline;
  padding-right: 3px;
}

.header-bar > .header-item {
  display: flex;
  width: 100px;
  padding-top: 2vh;
}

.navbar-elem {
  border: 2px solid green;
  border-radius: 5px;
}

.dashboard-container {
  display: flex;
  min-height: 88vh;
}

.dashboard-main {
  width: 80vw;
}

.dashboard-friends {
  width: 20vw;
}

/* plain links */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
