<div class="container">
  <div class="header-bar" id="boxshadow">
    <div class="header-item logo">
      {{#link-to 'index'}}imprufus_logo{{/link-to}}
    </div>

    <ul class="header-item navbar">
      <li class="header-list-elem">
        {{#link-to 'index' class="navbar-elem"}}learn{{/link-to}}
      </li>

      <li class="header-list-elem">
        {{#link-to 'index' class="navbar-elem"}}teach{{/link-to}}
      </li>

      <li class="header-list-elem">
        {{#link-to 'index' class="navbar-elem"}}play{{/link-to}}
      </li>
    </ul>

    <ul class="header-item user-section">
      <li class="header-list-elem">
        {{#link-to 'index' class="user options"}}options_menu{{/link-to}}
      </li>

      <li class="header-list-elem">
        {{#link-to 'index' class="user avatar"}}avatar_img{{/link-to}}
      </li>
    </ul>
  </div>

  <main>
    {{outlet}}
  </main>

  <footer>
    Imprufus :)
  </footer>
</div>
