<div class="dashboard-container">
  <div class="dashboard-main">
    Dashu~<br>
    Dashu~<br>
    Dashu~<br>
    Dashu~<br>
  </div>

  <div class="dashboard-friends">
    <ul>
      <li>Friend 1</li>
      <li>Fiend 1</li>
    </ul>
  </div>
</div>
